@import '~@styles/index.scss';

.logoutWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 600px;
  margin: 100px 0;

  .headline {
    color: #111;
  }

  @extend .container;

  .text {
    color: #111;
    margin: 20px;
  }
}

:global(#darkMode) {
  .headline,
  .text {
    color: #fff;
  }
}

