<table
  style="line-height:inherit;table-layout:fixed;vertical-align:top;min-width:320px;border-spacing:0;border-collapse:collapse;background-color:#262626;width:100%"
  cellpadding="0" cellspacing="0" role="presentation" width="100%" bgcolor="#262626" valign="top">
  <tbody style="line-height:inherit">
    <tr style="line-height:inherit;border-collapse:collapse;vertical-align:top" valign="top">
      <td style="line-height:inherit;border-collapse:collapse;word-break:break-word;vertical-align:top" valign="top">
        <div style="line-height:inherit;background-color:#262626">
          <div class="m_7342007813108005block-grid"
            style="line-height:inherit;min-width:320px;max-width:600px;word-wrap:break-word;word-break:break-word;Margin:0 auto;background-color:#262626">
            <div style="line-height:inherit;border-collapse:collapse;display:table;width:100%;background-color:#262626">
              <div class="m_7342007813108005col"
                style="line-height:inherit;min-width:320px;max-width:600px;display:table-cell;vertical-align:top;width:600px">
                <div class="m_7342007813108005col_cont" style="line-height:inherit;width:100%!important">
                  <div
                    style="line-height:inherit;border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:5px;padding-bottom:5px;padding-right:0px;padding-left:0px">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                      style="line-height:inherit;table-layout:fixed;vertical-align:top;border-spacing:0;border-collapse:collapse;min-width:100%"
                      role="presentation" valign="top">
                      <tbody style="line-height:inherit">
                        <tr style="line-height:inherit;border-collapse:collapse;vertical-align:top" valign="top">
                          <td
                            style="line-height:inherit;border-collapse:collapse;word-break:break-word;vertical-align:top;min-width:100%;padding-top:5px;padding-right:5px;padding-bottom:5px;padding-left:5px"
                            valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                              style="line-height:inherit;table-layout:fixed;vertical-align:top;border-spacing:0;border-collapse:collapse;border-top:0px solid transparent;height:0px;width:100%"
                              align="center" role="presentation" height="0" valign="top">
                              <tbody style="line-height:inherit">
                                <tr style="line-height:inherit;border-collapse:collapse;vertical-align:top"
                                  valign="top">
                                  <td
                                    style="line-height:inherit;border-collapse:collapse;word-break:break-word;vertical-align:top"
                                    height="0" valign="top"><span style="line-height:inherit"></span></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="line-height:inherit;background-color:transparent">
          <div class="m_7342007813108005block-grid"
            style="line-height:inherit;min-width:320px;max-width:600px;word-wrap:break-word;word-break:break-word;Margin:0 auto;background-color:#ffffff">
            <div style="line-height:inherit;border-collapse:collapse;display:table;width:100%;background-color:#ffffff">
              <div class="m_7342007813108005col"
                style="line-height:inherit;min-width:320px;max-width:600px;display:table-cell;vertical-align:top;width:600px">
                <div class="m_7342007813108005col_cont" style="line-height:inherit;width:100%!important">
                  <div
                    style="line-height:inherit;border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px">
                    <div align="center" style="line-height:inherit;padding-right:15px;padding-left:15px">
                      <div style="font-size:1px;line-height:15px">&nbsp;</div><a
                        href="https://links.CarRadar.com/u/click?_t=e766bc62610e4140a250eec128ecb613&amp;_m=03023a0e234a41fe8e9e61bafde994a8&amp;_e=F6yF9H2CCKWA2RBkD5jvJoyP1xj-mjZAWztEEQSTzFUA9egr-ItDWjIkLk1620k3G4GwT1AB74G9mPIrwdyEnwxKyWhItPptFMYM0jfJfnL6dhkHEe2yedUwZMGMeBxRcAQh95VljKYOLKhKG_57aa7fG16fhVo0MiBnB1akQiq2rAewltAP0KwCXUuD41rjGSzZ-4zpbCR1rKrWqpWHaLKWfaF1FaLjHvDfVb3tg_7brSxDm7ys5xsfs_CSd3KeKtQo-xO-mWzQHSJTLBhNXt57yNH8SKEP5AngEuvFLVtcRvrQsqnFQ4kZp3nGzkmv7FAz1uL59OtW-N0AoLakOtuZyq_Jb_FYHSBGEQer7QA%3D"
                        style="line-height:inherit;outline:none" target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://links.CarRadar.com/u/click?_t%3De766bc62610e4140a250eec128ecb613%26_m%3D03023a0e234a41fe8e9e61bafde994a8%26_e%3DF6yF9H2CCKWA2RBkD5jvJoyP1xj-mjZAWztEEQSTzFUA9egr-ItDWjIkLk1620k3G4GwT1AB74G9mPIrwdyEnwxKyWhItPptFMYM0jfJfnL6dhkHEe2yedUwZMGMeBxRcAQh95VljKYOLKhKG_57aa7fG16fhVo0MiBnB1akQiq2rAewltAP0KwCXUuD41rjGSzZ-4zpbCR1rKrWqpWHaLKWfaF1FaLjHvDfVb3tg_7brSxDm7ys5xsfs_CSd3KeKtQo-xO-mWzQHSJTLBhNXt57yNH8SKEP5AngEuvFLVtcRvrQsqnFQ4kZp3nGzkmv7FAz1uL59OtW-N0AoLakOtuZyq_Jb_FYHSBGEQer7QA%253D&amp;source=gmail&amp;ust=1625649554136000&amp;usg=AFQjCNGg6J3_oU4lefCoDoq-PFpeoFCI1g"><img
                          align="center" border="0"
                          src="https://localhost:3000/assets/logo.png"
                          alt="CarRadar" title="CarRadar"
                          style="line-height:inherit;text-decoration:none;height:auto;border:0;width:100%;max-width:560px;display:block"
                          width="560" class="CToWUd"></a>
                      <div style="font-size:1px;line-height:15px">&nbsp;</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="line-height:inherit;background-color:transparent">
          <div class="m_7342007813108005block-grid"
            style="line-height:inherit;min-width:320px;max-width:600px;word-wrap:break-word;word-break:break-word;Margin:0 auto;background-color:#ffffff">
            <div
              style="line-height:inherit;border-collapse:collapse;display:table;width:100%;background-color:#ffffff;background-image:undefined;background-position:undefined;background-repeat:undefined">
              <div class="m_7342007813108005col"
                style="line-height:inherit;min-width:320px;max-width:600px;display:table-cell;vertical-align:top;width:600px">
                <div class="m_7342007813108005col_cont" style="line-height:inherit;width:100%!important">
                  <div
                    style="line-height:inherit;border-top:0px dotted transparent;border-left:0px dotted transparent;border-bottom:0px dotted transparent;border-right:0px dotted transparent;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px">
                    <div
                      style="color:#222222;font-family:Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;line-height:1.5;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px">
                      <div
                        style="line-height:1.5;font-size:12px;color:#222222;font-family:Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif">
                        <p style="font-size:14px;line-height:1.5;word-break:break-word;margin:0">Welcome to CarRadar,</p>
                        <p style="font-size:14px;line-height:1.5;word-break:break-word;margin:0">&nbsp;</p>
                        <p style="font-size:14px;line-height:1.5;word-break:break-word;margin:0">We are excited to
                          welcome you to the next step in your financial freedom. With CarRadar, you have the
                          financial partner to help you get the cash you need.</p>
                        <p style="font-size:14px;line-height:1.5;word-break:break-word;margin:0">&nbsp;</p>
                        <p style="font-size:14px;line-height:1.5;word-break:break-word;margin:0">To finish your
                          application, or to return to your account at any time, you can log in by clicking the button
                          below.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="line-height:inherit;background-color:transparent">
          <div class="m_7342007813108005block-grid"
            style="line-height:inherit;min-width:320px;max-width:600px;word-wrap:break-word;word-break:break-word;Margin:0 auto;background-color:#ffffff">
            <div style="line-height:inherit;border-collapse:collapse;display:table;width:100%;background-color:#ffffff">
              <div class="m_7342007813108005col"
                style="line-height:inherit;min-width:320px;max-width:600px;display:table-cell;vertical-align:top;width:600px">
                <div class="m_7342007813108005col_cont" style="line-height:inherit;width:100%!important">
                  <div
                    style="line-height:inherit;border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px">
                    <div align="center"
                      style="line-height:inherit;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px">
                      <a href="https://carradar.com.ua"
                        style="line-height:inherit;text-decoration:none;display:inline-block;color:#ffffff;background-color:#5dc302;border-radius:4px;width:auto;width:auto;border-top:1px solid #5dc302;border-right:1px solid #5dc302;border-bottom:1px solid #5dc302;border-left:1px solid #5dc302;padding-top:10px;padding-bottom:10px;font-family:Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;text-align:center;word-break:keep-all"
                        target="_blank"
                        data-saferedirecturl="https://carradar.com.ua"><span
                          style="line-height:inherit;padding-left:25px;padding-right:25px;font-size:16px;display:inline-block;letter-spacing:undefined"><span
                            style="font-size:16px;line-height:2;word-break:break-word"><strong
                              style="line-height:inherit">Visit CarRadar website</strong></span></span></a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="line-height:inherit;background-color:transparent">
          <div class="m_7342007813108005block-grid"
            style="line-height:inherit;min-width:320px;max-width:600px;word-wrap:break-word;word-break:break-word;Margin:0 auto;background-color:#ffffff">
            <div style="line-height:inherit;border-collapse:collapse;display:table;width:100%;background-color:#ffffff">
              <div class="m_7342007813108005col"
                style="line-height:inherit;min-width:320px;max-width:600px;display:table-cell;vertical-align:top;width:600px">
                <div class="m_7342007813108005col_cont" style="line-height:inherit;width:100%!important">
                  <div
                    style="line-height:inherit;border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px">
                    <div
                      style="color:#222222;font-family:Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;line-height:1.5;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px">
                      <div
                        style="line-height:1.5;font-size:12px;color:#222222;font-family:Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif">
                        <p style="font-size:14px;line-height:1.5;word-break:break-word;margin:0">If you have any
                          questions, you can email us at <a href="mailto:support@carradar.com.ua"
                            title="support@carradar.com.ua"
                            style="line-height:inherit;text-decoration:underline;color:#5dc302" rel="noopener"
                            target="_blank">support@carradar.com.ua</a> or call +38 (050) 824-87-25 for assistance.</p>
                        <p style="font-size:14px;line-height:1.5;word-break:break-word;margin:0">&nbsp;</p>
                        <p style="font-size:14px;line-height:1.5;word-break:break-word;margin:0">Thank you,</p>
                        <p style="font-size:14px;line-height:1.5;word-break:break-word;margin:0">CarRadar Team</p>
                      </div>
                    </div>
                    <table width="100%" cellpadding="0" cellspacing="0" role="presentation"
                      style="line-height:inherit;table-layout:fixed;vertical-align:top;border-spacing:0;border-collapse:collapse"
                      valign="top">
                      <tbody>
                        <tr style="line-height:inherit;border-collapse:collapse;vertical-align:top" valign="top">
                          <td
                            style="line-height:inherit;border-collapse:collapse;word-break:break-word;vertical-align:top;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"
                            valign="top">
                            <table cellpadding="0" cellspacing="0" role="presentation" align="left"
                              style="line-height:inherit;table-layout:fixed;vertical-align:top;border-spacing:0;border-collapse:collapse"
                              valign="top">
                              <tbody>
                                <tr style="line-height:inherit;border-collapse:collapse;vertical-align:top"
                                  valign="top">
                                  <td
                                    style="line-height:inherit;border-collapse:collapse;word-break:break-word;vertical-align:top;text-align:center;padding-top:5px;padding-bottom:15px;padding-left:10px;padding-right:10px"
                                    align="center" valign="top"><img
                                      src="https://localhost:3000/assets/logo.png"
                                      alt="" height="64" width="null" align="center"
                                      style="line-height:inherit;border:0" class="CToWUd"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="line-height:inherit;background-color:#262626">
          <div class="m_7342007813108005block-grid"
            style="line-height:inherit;min-width:320px;max-width:600px;word-wrap:break-word;word-break:break-word;Margin:0 auto;background-color:#459f23">
            <div style="line-height:inherit;border-collapse:collapse;display:table;width:100%;background-color:#459f23">
              <div class="m_7342007813108005col"
                style="line-height:inherit;min-width:320px;max-width:600px;display:table-cell;vertical-align:top;width:600px">
                <div class="m_7342007813108005col_cont" style="line-height:inherit;width:100%!important">
                  <div
                    style="line-height:inherit;border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:10px;padding-bottom:10px;padding-right:5px;padding-left:5px">
                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation"
                      style="line-height:inherit;table-layout:fixed;vertical-align:top;border-spacing:0;border-collapse:collapse"
                      valign="top">
                      <tbody style="line-height:inherit">
                        <tr style="line-height:inherit;border-collapse:collapse;vertical-align:top" valign="top">
                          <td
                            style="line-height:inherit;border-collapse:collapse;word-break:break-word;vertical-align:top;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px"
                            valign="top">
                            <table align="center" cellpadding="0" cellspacing="0" role="presentation"
                              style="line-height:inherit;table-layout:fixed;vertical-align:top;border-spacing:0;border-collapse:collapse"
                              valign="top">
                              <tbody style="line-height:inherit">
                                <tr
                                  style="line-height:inherit;border-collapse:collapse;vertical-align:top;display:inline-block;text-align:center"
                                  align="center" valign="top">
                                  <td
                                    style="line-height:inherit;border-collapse:collapse;word-break:break-word;vertical-align:top;padding-bottom:0;padding-right:7.5px;padding-left:7.5px"
                                    valign="top"><a
                                      href="https://carradar.com"
                                      style="line-height:inherit" target="_blank"
                                      data-saferedirecturl="https://carradar.com"><img                                        width="32" height="32"
                                        src="https://ci4.googleusercontent.com/proxy/9Deo1O4asmCneCulBuSA2dH7zkOIIbIZ8WBkxA4IfEMdk2fLSj63glUNGdcBQU9OLVxmwFkVeN6WOka3UJ0-TxWb7wsM0B1CbeIvcSvJabDVkqiR2v4KP-oicr61BmSwgZ4A6pM761HsddHvZP9MMNUH8deDmX635wwHywtXko8=s0-d-e1-ft#https://d2fi4ri5dhpqd1.cloudfront.net/public/resources/social-networks-icon-sets/circle-color/facebook@2x.png"
                                        alt="Facebook" title="Facebook"
                                        style="line-height:inherit;text-decoration:none;height:auto;border:0;display:block"
                                        class="CToWUd"></a></td>
                                  <td
                                    style="line-height:inherit;border-collapse:collapse;word-break:break-word;vertical-align:top;padding-bottom:0;padding-right:7.5px;padding-left:7.5px"
                                    valign="top"><a
                                      href="https://carradar.com"
                                      style="line-height:inherit" target="_blank"
                                      data-saferedirecturl="https://carradar.com"><img                                        width="32" height="32"
                                        src="https://ci6.googleusercontent.com/proxy/HDf7LKd44n0C4xRZlxzCEeAN14UmNi5KioIavIHnWJoj4vKq6Mjm1nLAN-jEVzn0Hrexr4OShK8SCyqfsmwcZaUsOF7EPj9VLp9-56iptYew58JPFHHSXMVKekkilsYFbXPwq2yow8DNwBjC2Zw-vRjSnsSNxgHriNC7FyWk3aY=s0-d-e1-ft#https://d2fi4ri5dhpqd1.cloudfront.net/public/resources/social-networks-icon-sets/circle-color/linkedin@2x.png"
                                        alt="LinkedIn" title="LinkedIn"
                                        style="line-height:inherit;text-decoration:none;height:auto;border:0;display:block"
                                        class="CToWUd"></a></td>
                                  <td
                                    style="line-height:inherit;border-collapse:collapse;word-break:break-word;vertical-align:top;padding-bottom:0;padding-right:7.5px;padding-left:7.5px"
                                    valign="top"><a
                                      href="https://carradar.com"
                                      style="line-height:inherit" target="_blank"
                                      data-saferedirecturl="https://carradar.com"><img
                                        width="32" height="32"
                                        src="https://ci3.googleusercontent.com/proxy/-ZDe6QZh9D4KYA-KwIKoum4A03OWe29FcIBtP2YaLXnqm-sqTErA7aTOH9QG2cpErj5fdns1fHY1poDJfiwi1oYmweYDCAcov1j78Ej_obfxfuSfujvwi0V615B-murvEEa-iVpV70l4n9PtS4frEEgXLoYXneNrdcAuLSP4YQ=s0-d-e1-ft#https://d2fi4ri5dhpqd1.cloudfront.net/public/resources/social-networks-icon-sets/circle-color/website@2x.png"
                                        alt="Web Site" title="Web Site"
                                        style="line-height:inherit;text-decoration:none;height:auto;border:0;display:block"
                                        class="CToWUd"></a></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div
                      style="color:#ffffff;font-family:Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;line-height:1.5;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px">
                      <div
                        style="line-height:1.5;font-size:12px;color:#ffffff;font-family:Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif">
                        <p style="font-size:12px;line-height:1.5;word-break:break-word;text-align:center;margin:0"><span
                            style="line-height:inherit;font-size:12px">Copyright © 2021 CarRadar, All rights
                            reserved.</span><br style="line-height:inherit"><span
                            style="line-height:inherit;font-size:12px">You are receiving this email because you applied
                            for a loan on the CarRadar website.</span><br style="line-height:inherit"><br
                            style="line-height:inherit"><span style="line-height:inherit;font-size:12px">Our mailing
                            address is:</span><br style="line-height:inherit"><span
                            style="line-height:inherit;font-size:12px">CarRadar</span><br
                            style="line-height:inherit"><span style="line-height:inherit;font-size:12px">27 N Wacker
                            Drive, #404</span><br style="line-height:inherit"><span
                            style="line-height:inherit;font-size:12px">Chicago,&nbsp;IL&nbsp;60606</span><br
                            style="line-height:inherit"><br style="line-height:inherit"><span
                            style="line-height:inherit;font-size:12px">Want to change how you receive these
                            emails?</span><br style="line-height:inherit"><span
                            style="line-height:inherit;font-size:12px">You can <a
                              href="https://links.CarRadar.com/e/encryptedUnsubscribe?_r=e766bc62610e4140a250eec128ecb613&amp;_s=03023a0e234a41fe8e9e61bafde994a8&amp;_t=s2TP8FkpDCQtTa4eiicMAdN4QSWV5mEtFmYEQQPI7cFmkCXs6N2I8JIBv42UlU7gQezuFbPCIYOGtHg8-c3Stas94qpbvDEDBzY-4hUTU_ug4Wf2Z3ycr-0C5wSLeM4e1mpoRuECoTdjdv9DjFT-JAfodTou6865UOXTERrRbBQ%3D"
                              rel="noopener" style="line-height:inherit;color:#ffffff" target="_blank"
                              data-saferedirecturl="https://www.google.com/url?q=https://links.CarRadar.com/e/encryptedUnsubscribe?_r%3De766bc62610e4140a250eec128ecb613%26_s%3D03023a0e234a41fe8e9e61bafde994a8%26_t%3Ds2TP8FkpDCQtTa4eiicMAdN4QSWV5mEtFmYEQQPI7cFmkCXs6N2I8JIBv42UlU7gQezuFbPCIYOGtHg8-c3Stas94qpbvDEDBzY-4hUTU_ug4Wf2Z3ycr-0C5wSLeM4e1mpoRuECoTdjdv9DjFT-JAfodTou6865UOXTERrRbBQ%253D&amp;source=gmail&amp;ust=1625649554137000&amp;usg=AFQjCNHR96GuX6twuqKVaw9VbitBz9hCsA">unsubscribe</a>
                            from this list.</span><br style="line-height:inherit"><br style="line-height:inherit"><span
                            style="line-height:inherit;font-size:12px">California Finance Lender license #60DBO-82330
                            and Deferred Deposit Originator license #10DBO-89178.</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
