// ==================================================================
//  blocks/sections
// ==================================================================
$blackBackground: #262626;

// ==================================================================
//  buttons
// ==================================================================
$green: #5dc302;
$greenActive: #68da03;
$greenDisabled: #499803;
