// ==================================================================
//  media queries
// ==================================================================
$screen-desktop: 'screen and (min-width: 1001px)';
$screen-tablet: 'screen and (max-width: 1000px)';
$screen-mobile: 'screen and (max-width: 600px)';
