@import '../../../../../styles/index.scss';

$color1: #5dc302;
$color2: #262626;
$speed: 4s;

.preloaderWrap {
  margin-top: 50px;
  height: auto;
  height: 626px;
  display: block;

  * {
    color: #777;
  }

  h3,
  p {
    z-index: 1;
  }

  @extend .container;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 150px;

  @media #{$screen-mobile} {
    margin-bottom: 75px;
  }
}

.bottom {
  max-width: 800px;
  margin: auto;
  margin-top: 22px;

  p {
    font-size: 14px;
  }
}

.searchError {
  z-index: 0;
  position: relative;
  top: -226px;
  display: flex;
  width: inherit;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.errorImg {
  display: block;
  opacity: .8;
  height: 490px;
  width: auto;

  @media #{$screen-mobile} {
    height: auto;
    max-width: 100%;
  }
}

.animationsWrap {
  position: relative;
}

.car {
  width: 228px;
  height: 65px;
  position: relative;
  left: 0;
  top: 0;
  animation-name: carMovement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;

  @media #{$screen-mobile} {
    animation-name: carMovementMobile;
    width: 150px;
    height: 42px;
  }
}

.progressWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  opacity: .9;
  width: 100%;
  max-width: calc(113px * 8);
  height: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 13px -6px $color2;
  background-color: $color2;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 40px, $color1 0, $color1 80px);
  animation: slide $speed linear infinite;
}

@keyframes slide {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: 113px;
  }
}

.carWarp {
  position: relative;
  margin-bottom: 10px;
}

.clouds {
  margin: auto;
  position: absolute;
  top: -325px;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateZ(0) scale(.5);
  filter: invert(1);

  @media #{$screen-mobile} {
    transform: translateZ(0) scale(.25);
    right: -100px;
    top: -195px;
  }
}

.cloud {
  animation-name: cloudMovement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  position: absolute;
  top: 20%;
  width: 300px;
  right: 0;
  // overflow: hidden;
  opacity: 1;
}

.front {
  z-index: 9;
}

.distant {
  z-index: 1;
}

.background {
  z-index: 1;
}

.smaller {
  margin-right: 400px;
  width: 100px;
  margin-top: 50px;
}

.small {
  margin-right: 200px;
  width: 150px;
}

.big {
  width: 500px;
  margin-top: 50px;
  margin-right: 150px;
}

.massive {
  width: 600px;
  margin-top: 20px;
  margin-right: 0;
}

.slow {
  animation-duration: 9.2s;
}

.slower {
  animation-duration: 11.2s;
}

.slowest {
  animation-duration: 13.5s;
}

.superSlow {
  animation-duration: 20.5s;
}

@keyframes cloudMovement {
  0% {
    opacity: .1;
    transform: translateX(300px);
  }

  10% {
    opacity: .7;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateX(-1000px);
  }
}

@keyframes carMovement {
  0% {
    opacity: .1;
    transform: translateX(0);
  }

  10% {
    opacity: 1;
  }

  79% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(1000px);
  }
}

@keyframes carMovementMobile {
  0% {
    opacity: .1;
    transform: translateX(0);
  }

  10% {
    opacity: 1;
  }

  79% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}


:global(#darkMode) {
  .extra {
    background: linear-gradient(90deg, rgba(18, 18, 18, 0), rgb(102, 75, 0) 50%, rgba(18, 18, 18, 0));
  }

  .preloaderWrap * {
    color: rgb(191, 191, 191);
  }

  .bar {
    background-color: rgb(38, 38, 38);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 40px, rgb(20, 82, 40) 0px, rgb(20, 82, 40) 80px);
    box-shadow: rgb(38, 38, 38) 0px 10px 13px -6px;
  }
}
