@import '~@styles/index.scss';

$button: #5ac2008f;

.registrationWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 600px;
  margin: 100px 0;

  .headline {
    color: #111;
    margin-bottom: 75px;
  }

  @extend .container;
}

.formWrap {
  background: #fff;
  padding: 4em 4em 2em;
  max-width: 400px;
  margin: 50px auto 0;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;
}

.contentWrap {
  margin: 0 0 3em 0;
  position: relative;
  max-width: 500px;
  width: 100%;
}

.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  margin:0;

  &:disabled {
    background: #e6e6e640 !important;
  }
}

.input[type="text"],
.input[type="password"] {
  background: #fff;
  border: 1px solid #dbdbdb;
  font-size: 16px;
  padding: 15px 10px;
  border-radius: 2px;
}

.input[type="text"]:focus,
.input[type="password"]:focus {
  background: #fff
}

.text {
  display:block;
  background: #F9A5A5;
  padding: 2px 5px;
  color: #666;
}

.text {
  position: absolute;
  left: 8px;
  top: 12px;
  color: #999;
  font-size: 16px;
  display: inline-block;
  padding: 4px 10px;
  font-weight: 400;
  background-color: rgba(255,255,255,0);
  transition: color .3s linear, top .3s linear, background-color .8s linear;

  &.floatLabel{
    top: -11px;
    background-color: rgba(255,255,255,0.8);
    font-size: 14px;
  }
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 10px;
}

.socialWrap {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  height: auto;

  .label {
    color: #111;
    margin-bottom: 25px;
  }
}

:global(#darkMode) {
 .extra {
    background: linear-gradient(90deg, rgba(18, 18, 18, 0), rgb(102, 75, 0) 50%, rgba(18, 18, 18, 0));
  }

  #darkMode .extra {
    background: linear-gradient(90deg, rgba(18, 18, 18, 0), rgb(102, 75, 0) 50%, rgba(18, 18, 18, 0));
  }

  .registrationWrap .headline {
    color: rgb(191, 191, 191);
  }

  .formWrap {
    background: rgb(28, 28, 33);
    box-shadow: rgb(33, 33, 33) 0px 0px 1em;
  }

  .input[type="password"],
  .input[type="text"] {
    background: rgb(28, 28, 33);
    border: 1px solid rgb(61, 61, 61);
  }

  .input[type="password"]:focus,
  .input[type="text"]:focus {
    background: rgb(28, 28, 33);
  }

  .text {
    background: rgba(28, 28, 33, 0);
    color: rgb(191, 191, 191);
  }

  .text.floatLabel {
    background-color: rgba(28, 28, 33, 0.8);
    top: -11px;
  }

  .error {
    color: rgb(230, 153, 153);
  }
}
