@import "~@styles/constants.scss";
@import "~@styles/mediaTypes.scss";
@import "~@styles/colors.scss";
@import "~@styles/index.scss";

.headerWrap {
  width: 110%;
  border-bottom: 2px solid #111;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background: #262626;
  box-shadow: 0 8px 15px #080808;

  &.sticky {
    position: fixed;
    top: 0;
  }
}

.header {

  @extend .container;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  height: 81px;
  width: 100%;

  @media #{$screen-tablet} {
    height: 150px;
    align-items: center;
  }
  @media #{$screen-mobile} {
    height: 80px;
  }
}

.logoWrap {
  z-index: 11;
  padding-top: 6px;
  flex: 2;
}

.logo {
  width: 146px;
  height: auto;
  margin-top: 3px;
  filter: drop-shadow(0px 1px 0px black);

  @media #{$screen-tablet} {
    width: 225px;
  }
  @media #{$screen-mobile} {
    width: 100%;
    max-width: 100px;
  }
}

.navBar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1.5;
}

.link {
  white-space: pre;
  font-weight: 600;
  font-size: 16px;
  padding: 14px 15px 10px 15px;
  border-radius: 5px;
  line-height: 20px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  height: 100%;
  box-sizing: border-box;
  line-height: 3.4;
  border-radius: 0;
  color: #fff;

  &:hover {
    background: $greenActive;
    color: #fff;

    > {
      span {
        color: #fff;
      }
    }
  }

  > span {
    font-size: 18px;
    color: #fff;
  }
}

.text {

  @media #{$screen-tablet} {
    font-size: 22px;
  }
}

.flag {
  width: 22px;
  height: 22px;
  border: 2px solid #9d9d9d;
  background: #ccc;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
  transition: all 0.2 ease-in-out;

  @media #{$screen-tablet} {
    width: 48px;
    height: 48px;
    margin-top: 5px;
  }
}

.langContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20px;
  height: auto;
  flex: 0;

  @media #{$screen-tablet} {
    margin: 0 10px;
    width: 60px;
    height: 60px;
    flex: 1;
  }
}

.language {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 30px;
  margin-right: 2px;
  z-index: 10;

  @media #{$screen-tablet} {
    width: 60px;
    height: 60px;
    flex: 1;
    margin: 0;
  }
  @media #{$screen-mobile} {
    transform: scale(0.65);
    right: -25px;
    position: relative;
  }
}

.language.isOpen {
  background: #fff;
  border-radius: 10px;
  border: 2px solid #fff;
  box-shadow: 0 0 3px #111;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0 3px;
  width: 26px;
  height: 90px;
  right: -1px;
  top: 26px;
  margin-left: 16px;

  .flag {
    margin-bottom: 10px;
    border: none;
    width: 20px;
    height: 20px;

    &:hover {
      box-shadow: 0 0 3px #111;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media #{$screen-tablet} {
      margin: 15px 50px;
      width: 48px;
      height: 48px;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media #{$screen-tablet} {
    right: unset;
    margin-top: 5px;
    height: 250px;
    top: 49px;
    left: 17px;
    width: 83px;
    padding: 10px 0;
  }
}

.english {
  background: url('/assets/icons/eng.png');
}

.ukrainian {
  background: url('/assets/icons/urk.png');
}

.russian {
  background: url('/assets/icons/rus.png');
}

/* stylelint-disable */
.flag {
  background-size: cover;
  background-position: 50% 0px;
}
/* stylelint-enable */

.mobileMenu {
  top: 0;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;

  // @media #{$screen-mobile} {
  //   transform: scale(0.75);
  //   right: -20px;
  //   position: relative;
  // }
}

.burgerButton {
  z-index: 11;
  background: transparent;
  border: none;
  outline: none;
  margin: 5px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60px;
  height: 45px;
  position: relative;
  margin: 5px;
  cursor: pointer;

  @media #{$screen-mobile} {
    transform: scale(0.65);
    position: relative;
    right: -10px;
  }
}

.burgerIconSlice {
  pointer-events: none;
  margin: 50px auto;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background: #fff;
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;

  &:nth-child(1) {
    top: -50px;
  }

  &:nth-child(2),
  &:nth-child(3) {
    top: -32px;
  }

  &:nth-child(4) {
    top: -14px;
  }
}

.burgerContent {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background: #111;
  top: 150px;
  height: 0;
  transition: all 0.3s linear;
  z-index: 10;

  .navBar {
    flex-direction: column;
  }

  .link {
    font-size: 34px;
    width: 100%;
    text-align: center;

    &:focus,
    &:active {
      background: $greenActive;
    }
  }

  @media #{$screen-mobile} {
    top: 80px;

    .link {
      font-size: 21px;
      line-height: 1;
      max-height: 61px;
    }
  }
}

.mobileMenuOpened {
  opacity: 2;

  .burgerContent {
    height: 615px;
    top: 150px;
    border-top: 5px solid #262626;
  }

  .burgerIconSlice {
    &:nth-child(1) {
      top: -50px;
      width: 0%;
      left: 50%;
    }

    &:nth-child(2) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }

    &:nth-child(4) {
      top: -14px;
      width: 0%;
      left: 50%;
    }
  }

  @media #{$screen-mobile} {
    .burgerContent {
      top: 80px;
      height: 350px;
    }
  }
}


:global(#darkMode) {
  .headerWrap {
    background: rgb(38, 38, 38);
    border-bottom: 2px solid rgb(18, 18, 18);
    box-shadow: rgb(8, 8, 8) 0px 8px 15px;
  }

  .link {
    color: rgb(255, 255, 255);
  }

  .link:hover {
    background: rgb(20, 82, 40);
    color: rgb(255, 255, 255);
  }

  .link:hover>span {
    color: rgb(255, 255, 255);
  }

  .link>span {
    color: rgb(255, 255, 255);
    font-size: 18px;
  }

  .flag {
    border: 2px solid rgb(122, 122, 122);
  }

  .language.isOpen {
    background: rgb(28, 28, 33);
    border: 2px solid rgb(28, 28, 33);
    box-shadow: rgb(18, 18, 18) 0px 0px 3px;
  }

  .language.isOpen .flag:hover {
    box-shadow: rgb(18, 18, 18) 0px 0px 3px;
  }

  .burgerIconSlice {
    background: rgb(28, 28, 33);
  }

  .burgerContent {
    background: rgb(18, 18, 18);
  }

  .burgerContent .link:active,
  .burgerContent .link:focus {
    background: rgb(20, 82, 40);
  }

  .mobileMenuOpened .burgerContent {
    border-top: 5px solid rgb(38, 38, 38);
  }
}
