@import '~@styles/index.scss';

.cookieWrap {
  position: fixed;
  bottom: 0;
  z-index: 1000000;
  background: #262626;
  width: 110vw;
  height: 80px;
  padding: 0 15px;
  box-shadow: 0px -8px 15px #080808;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  @media #{$screen-mobile} {
    width: 110vw;
    padding: 10px 35px;
    height: 130px;
  }
}

.content {
  max-width: 1170px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.textWrap {
  margin-right: 50px;
}

.text {
  color: #fff;
  line-height: 1.6;
}

.link {
  color: #68da03;
  text-decoration: none;
}

:global(#darkMode) {
  .cookieWrap {
    background: rgb(38, 38, 38);
    box-shadow: rgb(8, 8, 8) 0px -8px 15px;
  }

  .text {
    color: rgb(255, 255, 255);
  }

  .link {
    color: rgb(189, 230, 153);
  }
}
