// @import '../../../styles/global.scss';

.testWrap {
  background-color: transparent;
}

.rcw-launcher {
  background-color: #5cc302;
}

:global(#darkMode) {
  .rcw-launcher {
    background-color: rgb(20, 82, 40);
  }
}
