:global {
  .rcw-widget-container {
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 0;
    max-width: 370px;
    position: fixed;
    right: 0;
    width: 90vw;
    z-index: 9999;
  }

  .rcw-conversation-container {
    border-radius: 10px;
    box-shadow: 0 2px 10px 1px #b5b5b5;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity .3s linear, transform .3s linear;
    position: relative;
  }

  .chat-anim {
    box-shadow: 0 2px 10px 1px #b5b5b5;
    border-radius: 10px;
  }

  .chat-anim-appear,
  .chat-anim-enter {
    opacity: 0;
    transform: translateY(50px);
  }

  .chat-anim-enter-active,
  .chat-anim-enter-done {
    opacity: 1;
    transform: translateY(0);
  }

  .chat-anim-exit {
    opacity: 1;
    transform: translateY(0);

    &.chat-anim-exit-active {
      opacity: 0;
      transform: translateY(50px);
    }
  }

  @media screen and (max-width: 800px) {
    div.rcw-widget-container {
      height: 60px;
      max-height: 60px;
      bottom: 0;
      top: unset;
      width: 60px;

      &.open {
        max-height: calc(90vh);
        height: 100%;
        min-height: 20px;
        top: 40px;
        bottom: unset;
        width: 100%;
      }
    }

    div.rcw-conversation-container {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
